n8n_workflows/10_00am Reminder Messages.json
{
  "name": "10:00am Reminder Messages",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -176,
        176
      ],
      "id": "78ff8000-96db-49a1-820e-4c1e9f332bea",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Function to subtract business days\nfunction subtractBusinessDays(startDate, days) {\n    let date = DateTime.fromJSDate(startDate).startOf('day');\n    let remainingDays = days;\n\n    while (remainingDays > 0) {\n        date = date.minus({ days: 1 });\n        const weekday = date.weekday; // 1 (Monday) to 7 (Sunday)\n\n        // Check if it's a weekday (Monday=1 to Friday=5)\n        if (weekday >= 1 && weekday <= 5) {\n            remainingDays--;\n        }\n    }\n    return date.toISODate(); // Format to YYYY-MM-DD\n}\n\n// Get the current date and subtract 3 business days\nconst AgedDate = subtractBusinessDays(new Date(), 5);\n\n// The output of this node will contain the calculated date\nreturn [{\n  json: {\n    AgedDate: AgedDate\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        16
      ],
      "id": "a1c1d7d8-2601-4fe8-9c48-50a761bacdd4",
      "name": "Code"
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "getAll",
        "guildId": {
          "__rl": true,
          "value": "={{ $json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $json.task_channel }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1376,
        208
      ],
      "id": "033750a9-0a73-4f4d-abfa-bcdd473db288",
      "name": "Get many messages",
      "webhookId": "3bba4d2e-9ffe-42b6-b91b-eb6116717bfe",
      "credentials": {
        "discordBotApi": {
          "id": "s456pmrqQvKSzbgo",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d566ce53-465f-4654-b7bc-9e935cf47f04",
              "leftValue": "={{ $json.components[0].components[0].custom_id }}",
              "rightValue": "complete-request",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1600,
        208
      ],
      "id": "e221cfc7-8e37-4924-8dfc-a805701df9a9",
      "name": "Filter3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6f3c39b6-582e-47a1-a95e-49c4cc364ba3",
              "name": "id",
              "value": "={{ $json.components[0].components[0].custom_id.split(\"_\")[1] }}",
              "type": "number"
            },
            {
              "id": "3ceec93a-1a7e-4120-a3eb-f89b6eb2020a",
              "name": "message_id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "ca779ee9-7bd2-4a79-a856-fb3dc6b0fac4",
              "name": "channel_id2",
              "value": "={{ $json.channel_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        208
      ],
      "id": "22f04ff2-402c-4861-ad39-7b705028d236",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "compare": "selectedFields",
        "fieldsToCompare": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.removeDuplicates",
      "typeVersion": 2,
      "position": [
        2224,
        208
      ],
      "id": "6d2703a7-a4da-4a1d-9982-b99178cfa40b",
      "name": "Remove Duplicates"
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "id",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3232,
        160
      ],
      "id": "dfe88aef-d188-49b7-90db-719f672b3f08",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items').item.json.task_channel }}",
          "mode": "id"
        },
        "content": "=**📢 Heads up! These users have requests older than 5 business days ** \n\n{{ $json.messageBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        4240,
        176
      ],
      "id": "72a5b550-1291-4df7-89ed-b6547a351610",
      "name": "Send a message",
      "webhookId": "0d96dc65-777c-4dae-a2c1-bf35b14b78a4",
      "credentials": {
        "discordBotApi": {
          "id": "s456pmrqQvKSzbgo",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Access the nested array of task objects from the 'data' property of the single input item.\nconst tasks = items[0].json.data; \n\n// 1. Initialize an array to hold each formatted task string.\nconst formattedTasks = [];\n\n// 2. Define the base URL structure.\nconst BASE_URL = \"https://discord.com/channels/\";\n\n// 3. Iterate over the 'tasks' array.\n// This loop will run once for every task object in the 'data' array.\nif (Array.isArray(tasks)) {\n    for (const task of tasks) {\n        // Destructure the required IDs from the current task object.\n        const { user_id, guild_id, channel_id2, message_id } = task;\n\n        // Construct the full Discord URL for the message.\n        // We use template literals (backticks) for easy string construction.\n        const messageURL = `${BASE_URL}${guild_id}/${channel_id2}/${message_id}`;\n\n        // Construct the formatted string: <@UserID>: [Link Text](URL)\n        const taskString = `<@${user_id}>: [Click here to jump to task](${messageURL})`;\n\n        // Add the formatted string to our array.\n        formattedTasks.push(taskString);\n    }\n} else {\n    // Fallback error handling in case the array is empty or the structure is wrong.\n    return [{ json: { messageBody: \"Error: Task data structure incorrect or empty after Aggregate.\" } }];\n}\n\n// 4. Join all the task strings with two newline characters ('\\n\\n') for clean spacing.\nconst messageBody = formattedTasks.join('\\n\\n');\n\n// 5. Return the result in a property named 'messageBody' for the next node (Discord).\nreturn [{\n    json: {\n        messageBody: messageBody \n    }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3984,
        176
      ],
      "id": "c4f863df-7e79-435a-b78c-6dc219620ac6",
      "name": "Code1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        3456,
        160
      ],
      "id": "ef11e373-cc42-48ec-a2e2-1b73350df54d",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "mtgrequestbot_settings",
          "mode": "list",
          "cachedResultName": "mtgrequestbot_settings"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        208,
        192
      ],
      "id": "0cd02688-72eb-4a9a-ae1d-f6f7a808e760",
      "name": "get active guilds",
      "credentials": {
        "postgres": {
          "id": "Cwdbai08AiDEQX4U",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        192
      ],
      "id": "ff1854b0-b1f6-4af6-b4e0-debac2ecf8e0",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68cf93a8-380f-4fa1-9d89-673743c79ef1",
              "leftValue": "={{ $json.guild_id }}",
              "rightValue": "=609549943778312212",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        192
      ],
      "id": "46d8b84d-14d8-48be-b0ec-4ceaface1459",
      "name": "Aged Task Reminders"
    },
    {
      "parameters": {
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.guild_id }}",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "={{ $('Loop Over Items1').item.json.request_channel }}",
          "mode": "id"
        },
        "content": "={{ $json.message }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1456,
        576
      ],
      "id": "7fc0c5b1-edd1-4175-aab4-f9a35efdda72",
      "name": "Message Request Channel",
      "webhookId": "b99f3bfa-fda2-4845-b94d-0de40bf684d3",
      "credentials": {
        "discordBotApi": {
          "id": "s456pmrqQvKSzbgo",
          "name": "Discord Bot account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const reminders = [\n  \"Hey there, Planeswalker! Just a friendly reminder: for new card requests, please use the `/request-list` command. This helps us keep everything organized and get your cards to you faster!\",\n  \"Got a new card you need for your deck? Don't forget to use `/request-list` to submit your new requests. It's the best way to make sure your wish list gets to our team.\",\n  \"Quick tip for your next request: use the `/request-list` command! This keeps all your single card requests in one clean list, making it easier for us to track them down for you.\",\n  \"Before you cast that next spell... remember to use `/request-list` for all new card requests. Using the command ensures your request is officially logged with the store!\",\n  \"Time to add some new cards to your collection? For all new singles requests, please remember to use `/request-list` to submit them. Happy deck building!\"\n];\n\nconst randomIndex = Math.floor(Math.random() * reminders.length);\nconst randomMessage = reminders[randomIndex];\n\nreturn [{\n  json: {\n    message: randomMessage\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        576
      ],
      "id": "7a91cc85-ca7d-4533-9cc2-665c029fe2d8",
      "name": "Code2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        768,
        560
      ],
      "id": "0541a044-18b3-433e-8b61-b301728ff1c9",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "68cf93a8-380f-4fa1-9d89-673743c79ef1",
              "leftValue": "={{ $json.guild_id }}",
              "rightValue": "=609549943778312212",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        416,
        560
      ],
      "id": "6965acdd-36d2-4dbe-9fc6-a36c5ef6243e",
      "name": "Use Command Reminder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "052fb772-761a-4f1e-99b0-022fcfe4e5e7",
              "leftValue": "={{ $json.data[0] }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3664,
        160
      ],
      "id": "79b57b2e-076b-4579-8c1c-2dd6a8111d3c",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4576,
        160
      ],
      "id": "8580655b-64ae-44cd-a490-667ff4158d9a",
      "name": "Merge1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "select\n  id,\n  interaction_id,\n  guild_id,\n  channel_id,\n  user_id,\n  status,\n  created_at\nfrom mtgrequestbot_requests \nwhere status = 'Pending' \n  and created_at <= '{{ $json.AgedDate }}'\n  and guild_id = '{{ $('Loop Over Items').item.json.guild_id }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        16
      ],
      "id": "cc97d62d-657d-4a7d-ae64-bd9eeadf604f",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Cwdbai08AiDEQX4U",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "get active guilds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Filter3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter3": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Remove Duplicates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Remove Duplicates": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get active guilds": {
      "main": [
        [
          {
            "node": "Aged Task Reminders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Use Command Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aged Task Reminders": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message Request Channel": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "Message Request Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Use Command Reminder": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "86972d8a-4716-4900-9eb2-0f13b25345dc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "88a6c6f7d184c256cad72b48fc2cd24da2142d9fcd354d4c1715773c10d4ed8f"
  },
  "id": "Z5UHAAgtNtNgzVQv",
  "tags": [
    {
      "updatedAt": "2025-09-26T14:38:13.804Z",
      "createdAt": "2025-09-26T14:38:13.804Z",
      "id": "oYCiozsgVmgRnILj",
      "name": "Dark Depths"
    }
  ]
}